section {
  margin: 100px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.form {
  padding: 50px;
  width: 50vh;
  height: 55vh;
  border: #fff solid 1px;
}

.text {
  font-size: 27px;
  font-weight: 600;
  letter-spacing: 2px;
  color: #fff;
}

.form-row {
  position: relative;
  margin: 25px auto;
}

.text-la {
  color: rgb(0, 153, 255);
  font-size: 18px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  transition: all 0.3s ease-in-out;
}

.form-row input {
  width: 80%;
  padding: 10px 5px;
  border-radius: 5px;
  font-size: 15px;
}

.form-row input:focus + .text-la {
  left: 80%;
  font-size: 13px;
}

.btn-wrap {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 50px;
}

button {
  width: 83%;
  padding: 15px 0;
  margin: 10px auto;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 600;
  box-shadow: 0 0 10px 1px #fff;
  border-color: #fff;
  cursor: pointer;
  color: #111;
  transform: translateY(0);
  transition: 0.4s ease-in-out;
  outline: none;
  border: none;
}

button:hover {
  transform: translateY(-10%);
}

input:focus {
  outline: none;
}

button:disabled {
  background-color: rgba(226, 226, 226, 0.7);
  border-color: transparent;
  cursor: default;
}
