section {
  margin: 100px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.form {
  padding: 50px;
  width: 50vh;
  height: 55vh;
  border: #fff solid 1px;
}

.text {
  font-size: 27px;
  font-weight: 600;
  letter-spacing: 2px;
  color: #fff;
}

.form-row {
  position: relative;
  margin: 25px auto;
}

.form-row label {
  color: rgb(43, 173, 41);
  font-size: 18px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  transition: all 0.2s ease-in-out;
}

.form-row input {
  width: 80%;
  padding: 10px 5px;
  border-radius: 8px;
  font-size: 15px;
}

.form-row input:focus + label {
  left: 80%;
  font-size: 12px;
}
